.card .overlay_card img{
	width: 100%;
	height: 250px;
	margin-top: 20px;
}
.card {
	margin-bottom: 50px;
	background: rgba(45,49,49,0.77);
	max-height: 400px;
}
.card .overlay_card .heading_card{
	margin-top: 50px;
	margin-bottom: 55px; 
	font-weight: 700;
	letter-spacing: 2px;
}

.card .overlay_card {
	overflow: hidden;
	max-height: 400px;
}
.card .overlay_card .description_card{
	background: rgb(45,49,49);
	opacity: 1;
	top: 100%;
	height: 0;
	transition: all 1s ;
}
.card .overlay_card .description_card p{
	margin-top: 100px; 
}
.card .overlay_card .description_card .a_div{
	margin-top: 150px;
}
.card .overlay_card:hover .description_card{
	position: absolute;
	top: 20px;
	width: 90%;
	height:378px;
}

