<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <title>PORTFOLIO</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

  <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/projects_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_1.css' %}">
</head>

<body onload="appearModal()">
  <div class="main">
    <div class="perm_header">
      <div class="row">
        <div class="col-3" align="left" >
          <div class="perm_header_left"><a href="{% url 'credentials:index' %}" class="name_a">{{candidate.name}}</a></div>
        </div>
        <div class="col-6" align="center" >
          <div class="perm_header_center trans">
            <div class="row">
              <div class="col-3" align="center" style="">
              <a class="js-open-main_tab_1" href="#"><button>Qualifications</button></a>
              </div>
              <div class="col-3" align="center" style="">
              <a class="js-open-main_tab_2" href="#"><button>Expertise</button></a>
              </div>
              <div class="col-3" align="center" style="">
              <a class="js-open-main_tab_3" href="#"><button>Projects</button></a>
              </div>
              <div class="col-3" align="center" style="">
              <a class="js-open-main_tab_4" href="#"><button>Arbitrary</button></a>
              </div>  
            </div>
          </div>
        </div>
        <div class="col-3" align="right" >
          <div class="perm_header_right">
            <div class="row">
              <div class="col-4" >
              </div>
              <div class="col-3">
                <a href="{% static 'resume_pdf/resume.pdf' %}" target="_blank"><button>Resume</button></a>
              </div>
              <div class="col-1">
              </div>
              <div class="col-3">
                <a href="{% url 'emails:getReceiver' %}"><button>Drive</button></a>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <center>
      <div class="main_content">
        <div class="row main_content_row">
          <div class="col-2" align="left" >
          </div>
          <div class="col-8" align="center">
            
            <div class="welcome_text row">
              <div class="col-12">
                <center>Welcome To My Portfolio!!</center>
                <button data-toggle="modal" data-target="#formModal" id="modalButton" hidden></button>
              </div>            
            </div>

            <div class="tab_links trans">
              <div class="row">
                <div class="col-3 tab_link_single trans" align="center" style="">
                <a class="js-open-main_tab_1" href="#"><button>Qualifications</button></a>
                </div>
                <div class="col-3 tab_link_single trans" align="center" style="">
                <a class="js-open-main_tab_2" href="#"><button>Expertise</button></a>
                </div>
                <div class="col-3 tab_link_single trans" align="center" style="">
                <a class="js-open-main_tab_3" href="#"><button>Projects</button></a>
                </div>
                <div class="col-3 tab_link_single trans" align="center" style="">
                <a class="js-open-main_tab_4" href="#"><button>Arbitrary</button></a>
                </div>  
              </div>
            </div>
          </div>
          <div class="col-2" align="right" >
          </div>
        </div>
      </div>
    </center>


    <div class="footer">
      <div class="row">
        <div class="col-4" align="left" >
          <div class="footer_left">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-1">
                <i class="fab fa-facebook-square"></i>
              </div>
              <div class="col-1">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="col-1">
                <i class="fab fa-twitter-square"></i>
              </div>
              <div class="col-1">
                <i class="fab fa-github-square"></i>
              </div>
              <div class="col-7"></div>
            </div>
          </div>
        </div>
        <div class="col-4" align="center" >
          <div class="footer_center">
            &copy; 2019
          </div>
        </div>
        <div class="col-4" align="right" >
          <div class="footer_right">
            <div class="row">
              <div class="col-11">
                Contact: {{candidate.contact}}
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="all_tabs main_tab_1">
    <div class="tab_1_header">
      <div class="row">
        <div class="col-12" align="center" >
          <div class="tab_1_text">QUALIFICATIONS</div>
        </div>        
      </div>
    </div>

    <div class="tab_1_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left" >
        </div>
        <div class="col-8" align="center" > 
          <div class="row">
            {% for qual in qualifications %}
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="row">
                <div class="col-11 card">
                  {% include '_qualifications.html' %}
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-2" align="right" >
        </div>
        
      </div>
    </div>
  </div>


  <div class="all_tabs main_tab_2">
    <div class="tab_2_header">
      <div class="row">
        <div class="col-12" align="center" >
          <div class="tab_2_text">EXPERTISE</div>
        </div>        
      </div>
    </div>

    <div class="tab_2_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left" >
        </div>
        <div class="col-8" align="center" >
          <div class="row">
            {% for exp in expertise %}
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="row">
                <div class="col-11 card">
                  {% include '_expertise.html' %}
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-2" align="right" >
        </div>
        
      </div>
    </div>
  </div>


  <div class="all_tabs main_tab_3">
    <div class="tab_3_header">
      <div class="row">
        <div class="col-12" align="center" >
          <div class="tab_3_text">PROJECTS</div>
        </div>        
      </div>
    </div>

    <div class="tab_3_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left" >
        </div>
        <div class="col-8" align="center" >
          <div class="row">
              {% for pro in projects %}     
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="row">
                  <div class="col-11 card">
                    {% include '_projects.html' %}
                  </div>
                  <div class="col-1">
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
        <div class="col-2" align="right" >
        </div>
        
      </div>
    </div>
  </div>


  <div class="all_tabs main_tab_4">
    <div class="tab_4_header">
      <div class="row">
        <div class="col-12" align="center" >
          <div class="tab_4_text">ARBITRARY</div>
        </div>        
      </div>
    </div>

    <div class="tab_4_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left" >
        </div>
        <div class="col-8" align="center" >
          <div class="row">
            <div class="col-4 card">
              sample text
            </div>
            <div class="col-4 card">
              sample text
            </div>
            <div class="col-4 card">
              sample text
            </div>
          </div>
        </div>
        <div class="col-2" align="right" >
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="formModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Get Drive Link</h5>
          <a href="{% url 'credentials:index' %}"><button type="button" class="close"><span>&times;</span></button></a>
        </div>
        <div class="modal-body">
          <p>Please enter your Email ID to get the drive link</p>
          <form action="{% url 'emails:getReceiver' %}" method="POST">
            {% csrf_token %}
            <label>Email ID :&nbsp;&nbsp;&nbsp;&nbsp;</label>
            {{form.email_id}}&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="Submit" value="Get Link">
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>





























































{% comment %}


<!DOCTYPE html>
{% load staticfiles %}
{% load list_index %}
<html lang="en" >

<head>
  <meta charset="UTF-8">
	<title>{{candidate.name}} - Portfolio Page</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Dosis:400,700|Raleway:400,700">

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
	<!-- <link rel='stylesheet' href='https://www.vinaypuppal.com/css/Pe-icon-7-stroke.css'> -->
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/projects_1.css' %}">
 
</head>

<body>

  <div class="overlay" id="particles">
  </div>

  {% block content %}
  {% endblock %}



  <div class="home container">
    <header>
      <div class="left">
        <a href="{% url 'credentials:index' %}">{{candidate.name}}</a>
      </div>
      <div class="center">
        <ul>
          <li><a class='js-open-about' href="#">Qualifications</a></li>
          <li><a class='js-open-works' href="#">Expertise</a></li>
          <li><a class='js-open-contact' href="#">Projects</a></li>
          <li><a class='js-open-link' href="#">Link</a></li>
          <li><a class='' href="{% static 'resume_pdf/resume.pdf' %}" target="_blank">Resume</a></li>
          <li><a class='' href="{% url 'emails:getReceiver' %}" target="_blank">Drive Link</a></li>
        </ul>
      </div>
      <div class="right">
        <ul>
          <li>
            <a class='facebook tooltip' title='Facebook'target="_blank" href="">
              <i class='fa fa-google-plus'></i>
            </a>
          </li>
          <li>
            <a class='twitter tooltip' title='Twitter'target="_blank" href="">
              <i class='fa fa-skype'></i>
            </a>
          </li>
          <li>
            <a class='linkedin tooltip' title='LinkedIn'target="_blank" href="">
              <i class='fa fa-linkedin'></i>
            </a>
          </li>  
        </ul>
      </div>
    </header>


    <div class="content">
      <div class="title">
        <h1>Welcome to My Portfolio!</h1>
      </div>
      <ul>
        <li>
          <a class='js-open-about' href="#">
            <i class='pe-7s-user'></i>
            <span>Qualifications</span>
          </a>
        </li>
        <li>
          <a class='js-open-works' href="#">
            <i class='pe-7s-albums'></i>
            <span>Expertise</span>
          </a>
        </li>
        <li>
          <a class='js-open-contact' href="#">
            <i class='pe-7s-chat'></i>
            <span>Projects</span>
          </a>
        </li>
        <li>
          <a class='js-open-link' href="#">
            <i class='pe-7s-chat'></i>
            <span>Link</span>
          </a>
        </li>
        <li>
          <a class='' href="{% static 'resume_pdf/resume.pdf' %}" target="_blank">
            <i class='pe-7s-chat'></i>
            <span>Resume</span>
          </a>
        </li>
        <li>
          <a class="" href="{% url 'emails:getReceiver' %}" target="_blank">
            <i class='pe-7s-chat'></i>
            <span>Drive Link</span>
          </a>
        </li>
      </ul>
    </div>



    <footer>
      <p> {{candidate.name}} &copy; 2019</p>
      <p> Contact: {{candidate.contact}}</p>
    </footer>
  </div>



  <div class="about container">
    <a class='js-close close-arrow' href="#"><i class='pe-7s-angle-down'></i></a>
    <div class="top">
      <div class="left">
        <div class="avatar">
          <img src="{% static 'profile_pic/pic.jpg' %}" alt="avatar" />
        </div>
        
        <table>
          {% for qual in qualifications %}
            <tr>	                
              <td>
                <span class="key_tags">{{qual.name}}</span></td>:<td><a href="{{qual.link}}" target="_blank" class="key_links">Click Here</a></td>
    		    </tr>   
          {% endfor %}
  		  </table>
      </div>
      <div class="intro right">
        <h1>A Little About Me</h1>
        <p>
          {{candidate.about}}
        </p>
      </div>
    </div>
  </div>


  <div class="works container">
    <a class='js-close close-arrow' href="#"><i class='pe-7s-angle-down'></i>
    </a>
    <div class="header">
      <h1 class="expertise">Expertise</h1>
      	<ul class="ul_list_items">
  	    {% for exp in expertise %}
  	        <li class="list_items">
  	            <p>
  	                {{exp.message}}
  	            </p>
  	        </li>
  	        
        	{% endfor %}
  	</ul>
     
    </div>
  </div>



<div class="overlay_projects">
  <div class="contact container">
    <a class='js-close close-arrow' href="#"><i class='pe-7s-angle-down'></i></a>
    <div class="content">
      <div class="left">
        <h1 class="project_heading">Projects</h1>

      
        <div class="master_container">
          <div class="container_card_outer">
              <section id="portfolio_card">
                  <div class="container_card_inner">

                    <center>
                      {% for outer_counter in projects_count %}
                      <div class="bundle_three">
                        {% for inner_counter in three %}
                          {% include '_projects.html' %}  
                          {% endfor %}
                      </div>
                        {% endfor %}
                    </center>

                     

                      <div class="bundle_residue">
                      {% for counter in projects_residue %}
                          {% include '_projects.html' %}  
                      {% endfor %}
                      </div>

                  </div>
              </section>
          </div>
        </div>



      </div>
    </div>
    <footer>
      <p> {{candidate.about}} &copy; 2019</p>
    </footer>
  </div>
</div>

  <div class="link container">
    <a class='js-close close-arrow' href="#"><i class='pe-7s-angle-down'></i></a>
    <div class="header_link">
      <h1>Link</h1>
    </div>
  </div>

  <div class="backstreach" id="backstreach">
  </div>


  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/3.2.3/sweetalert2.min.js'></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>

</html>

{% endcomment %}




































































{% comment %}

<!-- <!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
</head>
<body>

	{% block content %}

	<p>Name: {{candidate_name}}</p>
	<p>About him: {{candidate_about}}</p>
	<img src="{% static 'profile_pic/zlogo.jpg' %}" alt="profile_pic">
	<br>
	<a href="{% static 'resume_pdf/resume.pdf' %}" target="_blank">Resume</a>
	<br>
	<a href="{% url 'emails:getReceiver' %}" target="_blank">Get Link</a>

	<h3>Qualifications</h3>

	<ul>
	    {% for key,value in qualifications_dict.items %}
	        <li>
	            <p>
	                {{key}}:<a href="{{value}}" target="_blank">Click Here</a>
	            </p>
	        </li>
	        
      	{% endfor %}
	</ul>


	<h3>Projects</h3>

	<ul>
	    {% for key,value in projects_dict.items %}
	        <li>
	            <p>
	                {{key}}:<a href="{{value}}" target="_blank">Click Here</a>
	            </p>
	        </li>
	        
      	{% endfor %}
	</ul>


	<h3>Expertise</h3>

	<ul>
	    {% for exp in expertise_list %}
	        <li>
	            <p>
	                {{exp}}
	            </p>
	        </li>
	        
      	{% endfor %}
	</ul>

	
	<p>Contact: {{candidate_contact}}</p>


	{% endblock  %}
</body>
</html> -->

{% endcomment %}

