<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <title>PORTFOLIO</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

  <link rel="stylesheet" type="text/css" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.carousel.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/projects_1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_1.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>

<body onload="appearModal()">
  <div class="main">
    <div class="perm_header" align="right">

      <div class="row perm_header_row">
        <div class="col-lg-3 col-sm-6" align="left">
          <div class="perm_header_left"><a href="{% url 'credentials:index' %}" class="name_a">{{candidate.name}}</a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-0" align="center">
          <div class="perm_header_center trans">
            <div class="row">
              <div class="col-3" align="center" style="">
                <a class="js-open-main_tab_1" href="#"><button>Qualifications</button></a>
              </div>
              <div class="col-3" align="center" style="">
                <a class="js-open-main_tab_2" href="#"><button>Expertise</button></a>
              </div>
              <div class="col-3" align="center" style="">
                <a class="js-open-main_tab_3" href="#"><button>Projects</button></a>
              </div>
              <div class="col-3" align="center" style="">
                <a class="js-open-main_tab_4" href="#"><button>Vision</button></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6" align="right">
          <div class="perm_header_right">
            <div class="row">
              <div class="col-lg-4 col-sm-1">
              </div>
              <div class="col-lg-3 col-sm-4">
                <a href="{{ candidate.resume_pdf.url }}" target="_blank"><button>Resume</button></a>
              </div>
              <div class="col-1">
              </div>
              <div class="col-lg-3 col-sm-5">
                <a href="{% url 'emails:getReceiver' %}"><button>Drive</button></a>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="navigation">
        <a href="{% url 'credentials:index' %}" class="mobile_name"><span>{{candidate.name}}</span></a>
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button" onclick="clickCount()">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item"><a href="#" onclick="close_btn()" class="navigation__link js-open-main_tab_1"
                style="display: none;">Qualifications</a></li>
            <li class="navigation__item"><a href="#" onclick="close_btn()" class="navigation__link js-open-main_tab_2"
                style="display: none;">Expertise</a></li>
            <li class="navigation__item"><a href="#" onclick="close_btn()" class="navigation__link js-open-main_tab_3"
                style="display: none;">Projects</a></li>
            <li class="navigation__item"><a href="#" onclick="close_btn()" class="navigation__link js-open-main_tab_4"
                style="display: none;">Vision & Mission</a></li>
            <li class="navigation__item"><a href="{% static 'resume_pdf/resume.pdf' %}" onclick="close_btn()"
                target="_blank" class="navigation__link resume__link" style="display: none;">Resume</a></li>
            <li class="navigation__item"><a href="{% url 'emails:getReceiver' %}" onclick="close_btn()"
                class="navigation__link drive__link" style="display: none;">Drive Link</a></li>

          </ul>
        </nav>
      </div>
    </div>


    <center>
      <div class="main_content">
        <div class="row main_content_row">
          <div class="col-2" align="left">
          </div>
          <div class="col-8" align="center">

            <div class="welcome_text row">
              <div class="col-12" align='center'>
                <h1 align='center'>Welcome To My Portfolio!!</h1>
                <button data-toggle="modal" data-target="#formModal" id="modalButton" hidden></button>
              </div>
            </div>

            <div class="tab_links trans">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 tab_link_single trans" align="center" style="">
                  <a class="js-open-main_tab_1" href="#"><button>Qualifications</button></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 tab_link_single trans" align="center" style="">
                  <a class="js-open-main_tab_2" href="#"><button>Expertise</button></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 tab_link_single trans" align="center" style="">
                  <a class="js-open-main_tab_3" href="#"><button>Projects</button></a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 tab_link_single trans" align="center" style="">
                  <a class="js-open-main_tab_4" href="#"><button>Vision</button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2" align="right">
          </div>
        </div>
      </div>
    </center>


    <div class="footer">
      <div class="row">
        <div class="col-4" align="left">
          <div class="footer_left">
            <div class="row">


              <div class="col-xs-3 temp_1" style="margin-left: 0; padding-left: 0;"><a href="{{candidate.skype}}"
                  target="_blank"><i class="fab fa-skype" style=""></i></a>
              </div>
              &nbsp;&nbsp;&nbsp;
              <div class="col-xs-3 temp_2" style="margin-left: 0; padding-left: 0;"><a href="{{candidate.linkedin}}"
                  target="_blank"><i class="fab fa-linkedin" style=""></i></a>
              </div>
              &nbsp;&nbsp;&nbsp;
              <div class="col-xs-3 temp_3" style="margin-left: 0; padding-left: 0;"><a href="{{candidate.twitter}}"
                  target="_blank"><i class="fab fa-twitter"></i></a>
              </div>
              &nbsp;&nbsp;&nbsp;
              <div class="col-xs-3 temp_4" style="margin-left: 0; padding-left: 0;"><a href="{{candidate.github}}"
                  target="_blank"><i class="fab fa-github-square"></i></a>
              </div>

            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="footer_center" align="center">
            &copy; Harshdeep Singh
          </div>
        </div>
        <div class="col-4" align="right">
          <div class="footer_right">
            <div class="row">
              <div class="col-11" align="center">
                Contact: <span class="contact">{{candidate.contact}}</span>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="all_tabs main_tab_1">
    <div class="tab_1_header">
      <div class="row">
        <div class="col-12" align="center">
          <div class="tab_1_text">QUALIFICATIONS</div>
        </div>
      </div>
    </div>

    <div class="tab_1_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left">
        </div>
        <div class="col-8" align="center">
          <div class="row owl-carousel owl-theme">
            {% for qual in qualifications %}
            
            <div class="col-12 card">
              {% include '_qualifications.html' %}
            </div>
            
            {% endfor %}
          </div>
        </div>
        <div class="col-2" align="right">
        </div>

      </div>
    </div>
  </div>


  <div class="all_tabs main_tab_2">
    <div class="tab_2_header">
      <div class="row">
        <div class="col-12" align="center">
          <div class="tab_2_text">EXPERTISE</div>
        </div>
      </div>
    </div>

    <div class="tab_2_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left">
        </div>
        <div class="col-8" align="center">
          <div class="row owl-carousel owl-theme">
            {% for exp in expertise %}
           
            <div class="col-12 card item">
              {% include '_expertise.html' %}
            </div>

           
            {% endfor %}
          </div>
        </div>
        <div class="col-2" align="right">
        </div>

      </div>
    </div>
  </div>


  <div class="all_tabs main_tab_3">
    <div class="tab_3_header">
      <div class="row">
        <div class="col-12" align="center">
          <div class="tab_3_text">PROJECTS</div>
        </div>
      </div>
    </div>

    <div class="tab_3_content">
      <div class="row row_tab_content">
        <div class="col-2" align="left">
        </div>
        <div class="col-8" align="center">
          <div class="row owl-carousel owl-theme">
            {% for pro in projects %}
            
            <div class="col-12 card item">
              {% include '_projects.html' %}
            </div>
          
            {% endfor %}
          </div>
        </div>
        <div class="col-2" align="right">
        </div>

      </div>
    </div>
  </div>


  <div class="all_tabs main_tab_4">
    <div class="tab_4_header">
      <div class="row">
        <div class="col-12" align="center">
          
        </div>
      </div>
    </div>

    <div class="tab_4_content">
      <div class="row row_tab_content">
        <div class="col-1"></div>
        <div class="col-lg-5 col-sm-10 left_section" align="center">
          <strong> Vision</strong>
          <p class="lead" style="text-align: justify; padding: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,


          </p>
        </div>
        <div class="col-lg-5 col-sm-10 right_section" align="center">
          <strong>Mission</strong>
          <p class="lead" style="text-align: justify; padding: 40px">Lorem ipsum dolor sit amet, consectetur adipisicing
            elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

          </p>
        </div>
        <div class="col-1"></div>


      </div>
    </div>
  </div>


  <div class="modal fade" data-backdrop="false" id="formModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Get Drive Link</h5>
          <a href="{% url 'credentials:index' %}"><button type="button" class="close"><span>&times;</span></button></a>
        </div>
        <div class="modal-body">
          <p>Please enter your Email ID to get the drive link</p>
          <form action="{% url 'emails:getReceiver' %}" method="POST">
            {% csrf_token %}
            <label>Email ID :&nbsp;&nbsp;&nbsp;&nbsp;</label>
            {{form.email_id}}&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="Submit" value="Get Link">
          </form>
        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript" src="{% static 'OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'OwlCarousel2-2.3.4/dist/owl.carousel.js' %}"></script>
  <script type="text/javascript">
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 4
        }
      }
    });
  </script>
  <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/index_1.js' %}"></script>
</body>

</html>